body {
    background-image: url("safaribackground.jpg");
    text-align: center; 
}
  
  button:hover {
    transform: scale(1.1);
    border: 3px black solid;
    box-shadow: 0 0 1rem #81D2C7;
    background-color: #81D2C7;
    color: black;
  }
  
  #start {
    vertical-align: middle;
    transform: translate(0, 150%);
    height: 100px;
    width: 100px;
    font-size: 40px !important;
  }
  
  #content {
    position: relative;
    height: 600px;
    border: 5px #416788 solid;
    border-radius: 25px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 3px 3px 20px 6px #ccc !important;
    padding-bottom: 20px;
  }
  
  #content::after {
    content: "";
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: .4;
  }
  
  #question-area {
    padding-left: 10px;
    padding-right: 10px
  }
  
  .message-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  
  /* For smaller screens */
  @media screen and (max-width: 640px) {
    #content {
      height: 700px;
    }
  
    img {
      height: 200px;
      width: 250px;
    }
  }